<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" attr.data-target="#{{user.username}}" id="collapseble1" href="#{{user.username}}">
        {{user.first_name}} {{user.surname}} - {{employeeInfo.title}}
      </a>
    </div>
    <div id="{{user.username}}" class="collapse ">
      <div class="card-body">
        <div class="userInformation d-flex">
          <div class="d-flex">
            <img src="{{user.avatar}}" alt="" onerror="this.src='assets/user.jpg'">
          </div>
          <div class="personalInfo ">
            <span class="name pt-3">{{user.first_name}} {{user.surname}}</span>  <br>
            <span class="employeeTitle pt-3">{{employeeInfo.title}}</span> <br>
            <span class="employeeId pt-3">{{employeeInfo.id}}</span> <br>
          </div>
          <div class="schedule">
            <div class="chip w-100 d-flex mt-2" *ngFor="let schedule of scheduleInfo.schedule">
              <span class="date">{{schedule.start_time | dateFormatLong}} {{schedule.start_time | dateFormat}} - {{schedule.end_time | dateFormat}}</span>
              <span class="title">{{schedule.title}}</span>
              <span class="description " >{{schedule.description}}</span>
            </div>
          </div>
        </div>
        <div class="children" id="parent{{user.username}}">

        </div>
      </div>
    </div>
  </div>
</div>
