div#accordion {
    width: 90%;
}

.userProfile {
    font-size: 100px;
    border: 1px solid black;
    
}

div#accordion {
    position: absolute;
    z-index: 0;
}

.personalInfo {
    margin-left: 1rem;
    // display: flex;
    // align-items: center;
    flex: 25%;
}

.schedule {
    // display: flex;
    // align-items: center;
    flex: 50%;
    
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    flex: 100%;
  }
  
.editButton {
    display: flex;
    align-items: center;
    font-size: 20px;
    border: none;
}
  
.editButton:hover {
    color: blue;
}

.userInformation.d-flex {
    // height: 30vh;
}

img{
    // height: 100%;
    // width: 100%;
    width: 14vw;
    border: 1px solid black;
}

.avatar{
    flex: 25%;
    width: 14vw;
}

.date{
 flex: 30%;
}

.title{
    flex: 20%;
}

.description{
    flex: 50%;
}

.name {
	font-size: 30px;
}

.employeeTitle {
	font-size: 20px;
}