<div class="app-header">

</div>
<nav id="sidebarMenu" class="sidebar ">
    <div class="userInformation">

    </div>
    <div class="hierarchyContainer navItem">
        <span class="material-icons">account_tree</span>
        <a routerLink="/hierarchy">Hierarchy</a>
    </div>
    <div class="scheduleContainer navItem">
        <span class="material-icons">calendar_month</span>
        <a routerLink="/schedule">Schedule</a>
    </div>
    <div class="logoutContainer navItem">
        <span class="material-icons">logout</span>
        <a class="logoutLink" (click)="logout()">Logout</a>
    </div>
</nav>