.navbars{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-quadinary);
}

.navbars:hover .navInfo{
    display: inline-block;
}

.navbars:hover{
    width: 15rem;
}

li.navbar-item:last-child {
    margin-top: 55vh;
}

.nav-item{
    width: 100%;
}

.navbar-nav{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
}

span.material-icons{
    font-size: 4rem;
    position: relative;
    top: 24px;
}
a{
    text-decoration: none;
    color: var(--bg-primary);
}

a:hover{
    text-decoration: none;
    color: var(--bg-secondary);
}

.navInfo{
    display: none;
}

// .navInfo:hover{
//     display: block;
// }

li{
    padding:15px 0 ;
}