<div class="containerHierachy">
  <div class="tf-tree tf-gap-lg pt-5">
    <ul>
      <li>
        <span class="tf-nc" (click)="goToEmployee(user.id)">{{ user.first_name }} {{ user.surname }}</span>
        <ul
          id="parent{{ user.username }}"
          
        >
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- Button trigger modal -->
<button id="modalTrigger" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-title display-6">
            {{selectedUser.first_name}} {{selectedUser.surname}}
          </div> <br>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span >&times;</span>
          </button>
        </div>
        
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <img src="{{selectedUser.avatar}}" alt="avatar" onerror="this.src='assets/user.jpg'">
        </div>
        <div class="subtitle">
          {{selectedEmployee.title}}
        </div>
        <div>
          {{selectedUser.id}} <br>
        </div>
        <div class="mt-4">
          <div class="chip w-100 d-flex  mt-2" *ngFor="let schedule of selectedSchedule.schedule">
            <span class="scheduleStartTime">{{schedule.start_time | dateFormat}}-{{schedule.end_time | dateFormat}}</span>
            <span class="scheduleEndTime">{{schedule.title}}</span>
            <span class="ScheduleDescription">{{schedule.description}}</span>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>