
.calendarContainer{
    height: 100%;
    margin-left: 5rem;
    padding: 3rem;      
    color: black;
    // margin: ;
}

.daysOfTheWeek{
    padding-top: 1rem;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: calc(100% / 7);
    height: 100%;
    // border: 1px solid black;
}

.headings{
    height: 15%;
}

.MonthHeadings{ 
    // border: 1px solid black;
    height: 65%;
    display: flex;
    align-items: center;
    color : var(--bg-secondary)
    // font-size: 3rem;
}

.currentMonth{
    flex: 40%;
    align-items: flex-start;
}

.userSchedule{
    flex: 30%;
}

.prevIcon{
    flex: 15%;
    // justify-content: flex-end;
}

.nextIcon{
    flex: 15%;
}

.weekHeadings{
    height: 35%;
    background-color: var(--bg-secondary);
    color: white;
}

.daysOfMonth{
    height: 100% ;
    
}

.monthDays{
    display: inline-block;
    align-items: center;
    width: calc(100% / 7);
    border: 1px solid;
    border-color: var(--bg-secondary);
    // background: var(--bg-quadinary);
}

.prevMonth{
    background: opacify($color: #4F4D4F05, $amount: 0.5) 
    
}

.nextMonth{
    background: opacify($color: #4F4D4F05, $amount: 0.5) 
}

.monthDays5{
    height: calc(95% / 5);
}

.monthDays6{
    height: calc(95% / 6);
}

.appointmentButton
{
    width: 100%;
}

button.btn.btn-outline-secondary.btn-block {
    width: 100%;
    
}

button.btn.btn-outline-secondary.btn-block:hover {
    width: 100%;
    background-color: var(--bg-secondary);
}

.currentDay{
    color: black;
    // border: 1px solid red;
    padding: 0 4px;
    border-radius: 25px;
    color: white;
    background-color: var(--bg-primary);
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }

.miniChip {
    margin: 1px 7px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
span.material-icons {
    display: flex;
    align-items: center;
    font-size: 50px;
}

.dayContainer{
    padding: 5px;
}

#appointmentDetails{
    color: black;
}

.editing{
    background-color: var(--bg-secondary);
    color: white;
}

.deleteButton{
    color: red;
}

.backArrow{
    justify-content: end;
}

span.material-icons.editButton {
    font-size: larger;
}

span.material-icons.editButton:hover {
    color: var(--bg-quadinary);
    cursor: pointer;
}

.arrows:hover{
    color: var(--bg-quadinary);
    cursor: pointer;
}

.monthDayContainer {
    padding: 5px;
}

.notVisible {
    visibility: hidden;
}

span.flex-fill.ml-2 {
    margin-left: 1rem;
}