<div class="loginContainer">
    <div class="loginForm p-5">
        <div class="logoContainer">
            <img src="assets/logo.png" alt="logo.png">
        </div>
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" [(ngModel)]="username">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="password">
          </div>
          <div class="buttonContainer">
            <button (click)="login()" class="btn btn-outline-dark">Login</button>
          </div>
    </div>
</div>
