.adminContainer{
    margin-left: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 5rem;
}

.options{
    padding: 2rem 3rem
}

.options:hover, .selected{
    background-color: var(--bg-primary);
    color: white;
}

button.btn.mx-1.btn-outline-secondary.btn-block {
    width: 50%;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.col-4.border.optionsMenu {
    padding: 0;
}