<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" attr.data-target="#{{user.username}}" id="collapseble1" href="#{{user.username}}">
        {{user.first_name}} {{user.surname}} - {{employeeInfo.title}}
      </a>
    </div>
    <div id="{{user.username}}" class="collapse ">
      <div class="card-body">
        <div class="userInformation d-flex">
          <div class="d-flex align-items-center">
            <div class="material-icons userProfile">account_circle</div>
          </div>
          <div class="personalInfo">
            {{user.first_name}} {{user.surname}}  <br>
            {{employeeInfo.title}} <br>
            {{employeeInfo.id}} <br>
          </div>
          <div class="schedule">
            <div class="chip w-100 d-flex justify-content-between mt-2" *ngFor="let schedule of scheduleInfo.schedule">
              <span>{{schedule.start_time | dateFormat}}-{{schedule.end_time | dateFormat}}</span>
              <span>{{schedule.title}}</span>
              <span class="material-icons editButton">edit</span>
            </div>
          </div>
        </div>
        <div class="children" id="parent{{user.username}}">

        </div>
      </div>
    </div>
  </div>
</div>
