<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" data-bs-target="#collapseOne" id="collapseble1" href="#collapseOne">
        Tshego Motlatle - Seniour Software Developer
      </a>
    </div>
    <div id="collapseOne" class="collapse ">
      <div class="card-body">
        <div class="userInformation d-flex">
          <div class="material-icons">account_circle</div>
          <div class="personalInfo">
            Tshego Motlatle <br>
            Senior Software Developer <br>
            9904215693080 <br>
          </div>
          <div class="schedule">
            2022-06-21 08:00 training<br>
            2022-06-22 08:00 training<br>
            2022-06-23 08:00 training<br>
          </div>
        </div>
        <div class="children">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-3">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div> -->